
.ui.menu>.container{
  padding: 15px;
}


.margin{
  margin-top: 5rem;
}


.ui.fixed.menu+.ui.grid{
  position: relative;
  top: 4rem;
 bottom: 3rem;
 
}

.ui.card{
  margin:1rem;
  padding:1rem;
  width: 350px;
  
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
  height: 350px;
}